.rating-page .wrapper {
  width: 1024px;
  margin: 0 auto;
}

.game-header {
  display: flex;
}

.game-rating {
  height: 200px;
  text-align: center;
  position: relative;
}

.game-summary {
  margin-top: 20px;
  margin-left: 30px;
}

.game-summary h1,
h2 {
  margin-bottom: 10px;
}

.game-summary .storyLine {
  font-size: medium;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.star-rating {
  position: absolute;
  top: 125px;
  left: 420px;
}

.rating-circle {
  position: absolute;
  height: 100%;
  margin-top: 50px;
  margin-left: 405px;
}

.rating-circle .title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.rating-circle::before {
  content: "";
  position: absolute;
  top: 120px;
  left: 310px;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(249, 250, 250, 0.65);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
}

.rating-value {
  position: absolute;
  top: 168px;
  left: 717px;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #000;
}

/* Desktop */
@media (max-width: 900px) {
  .rating-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .rating-page .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .game-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-cover {
    margin-bottom: 10px;
  }

  .game-summary {
    margin-top: 10px;
    text-align: center;
  }

  .game-summary h1,
  .game-summary h2 {
    margin-bottom: 5px;
  }

  .game-summary .storyLine {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
  }

  .game-rating {
    margin-top: 20px;
    text-align: center;
  }

  .rating-circle {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10px;
  }

  .rating-circle .title {
    font-size: 24px;
    font-weight: 700;
  }

  .rating-circle::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(249, 250, 250, 0.65);
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  }

  .rating-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #000;
  }

  .star-rating {
    margin-top: 280px;
  }

  .game-summary {
    margin-left: 10px;
    text-align: left;
  }

  .game-summary h1,
  .game-summary h2 {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .game-summary .storyLine {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }

  .rating-circle {
    margin-left: 0;
    margin-top: 50px;
  }

  .rating-circle .title {
    font-size: 24px;
    /* margin-top: 10px; */
  }

  .rating-circle::before {
    position: absolute;
    top: 120px;
    left: 250px;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }

  .rating-value {
    top: 170px;
    left: 250px;
    transform: translate(-50%, -50%);
    font-size: 24px;
  }

  .star-rating {
    position: absolute;
    top: -160px;
    left: 15px;
  }

  .star {
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
