.introduction {
  width: 50%;
  left: 25%;
  align-items: center;
  height: auto;
  font-size: 22px;
  position: absolute;
  padding-top: 10%;
  color: rgba(3, 46, 77, 0.884);
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  
}
