.user-profile {
  background-color: rgba(200, 231, 237, 0.65);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  width: 500px;
}

.user-profile .user-name {
  font-weight: bold;
}

.user-profile .MuiSvgIcon-root {
  font-size: 35px;
}

.user-profile .MuiListItem-root {
  padding: 30px 30px;
}


/* Desktop */
@media (max-width: 600px) {
  .user-profile {
    width: auto;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }

  .user-profile .MuiListItem-root {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
  }

  .user-profile .MuiListItemIcon-root {
    margin-right: 10px;
    min-width: auto;
    margin-top: 2px;
  }

  .user-profile .MuiListItemText-root {
    margin-left: 10px;
    padding-left: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }
}